@font-face {
  font-family: "unix-font";
  src: url('./font/Apple\ ][.ttf') format("truetype");
}

.App {
  text-align: center;
  font-family: 'unix-font';
  color:#2DFF6B;
  background-color: #15511F;
}

.inputWrapper {
  text-align: center;
}

input {
  font-family: "unix-font";
  color: #2DFF6B;
  background-color: #15511F;
  border: 1;
  border-color: aquamarine;
  margin-right: 10px;
}

button {
  text-align: center;
  font-family: "unix-font";
  color: #2DFF6B;
  background-color: #15511F;
}

.triesLeftH1 {
  text-align: center;
}


.boxContainer {
  display: flex;
}

.triesCount {
  flex: 0;
}

.boxOne {
  flex: 1;
  display: flex;
}

.boxOne li {
  cursor: pointer;
}

.boxTwo {
  flex: 1;
  display: flex;
}

.randomStringsOne li {
  cursor: pointer;
}

.randomStringsOne li:hover {
  background-color: aliceblue;
}

.randomStringsTwo li {
  cursor: pointer;
}

.randomStringsTwo li:hover {
  background-color: aliceblue;
}

.passAttempts {
  flex: 1;
}

