@font-face {
  font-family: "unix-font";
  src: url('./font/Apple\ ][.ttf') format("truetype");
}

.App {
  text-align: center;
  font-family: 'unix-font';
  color:#2DFF6B;
  background-color: #15511F;
}

.inputWrapper {
  text-align: center;
}

input {
  font-family: "unix-font";
  color: #2DFF6B;
  background-color: #15511F;
  border: 0;
}

button {
  text-align: center;
  font-family: "unix-font";
  color: #2DFF6B;
  background-color: #15511F;
}

.triesLeftH1 {
  text-align: center;
}


.boxContainer {
  display: flex;
  flex-direction: column;
}

.boxOne {
  display: flex;
  flex-direction: column;
}

