@font-face {
    font-family: "unix-font";
    src: url('./font/Apple\ ][.ttf') format("truetype");
  }
  

  body, html {
    height: 100%;
  }

body{
    font-family: 'unix-font';
    color:#2DFF6B;
    background-color: #15511F;


    display: flex;
    justify-content: center;
    align-items: center;

  }