@font-face {
    font-family: "unix-font";
    src: url('./font/Apple\ ][.ttf') format("truetype");
  }
  
body{
    text-align: center;
    font-family: 'unix-font';
    color:#2DFF6B;
    background-color: #15511F;
  }